#Import the Z Open Automation Utilities libraries we need
from zoautil_py import MVSCmd, OperatorCmd
import os
import socket

# Grab the environment variable for USE and the HOSTNAME
USERID = os.getenv('USER').lower()
HOSTNAME = socket.gethostname()

iplinfo = OperatorCmd.execute('d iplinfo')

#print(iplinfo['message'])

f = open('{{ dir_temp.path }}/iplinfo/' + HOSTNAME + '.iplinfo', 'w')
f.write(iplinfo['message'])
f.close()
